<!doctype html>
<title>{% block title %}{% endblock %} - RaSCSI</title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<nav>
  <h1>RaSCSI</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=true) %}
  {% if category == "stdout" or category == "stderr" %}
    <pre>{{message}}</pre>
  {% else %}
    <div class="{{category}}">{{ message }}</div>
  {% endif %}
  {% endfor %}
  {% block content %}{% endblock %}
</section>