{% extends "base.html" %}

{% block content %}
{% if active %}
    Service Running
{% else %}
    Service Stopped
{% endif %}
<pre>{{active}}</pre>
<br/>
Devices:
<ul>
    {% for device in devices %}
        <li>{{device.id}}, {{device.un}}, {{device.type}}, {{device.file}}</li>
        <li>
            <form action="/scsi/detach" method="post">
                <input type="hidden" name="scsi_id" value="{{device.id}}">
                <input type="submit" value="Detach" />
            </form>
        </li>
    {% endfor %}
</ul>
<br/>
Files:
<ul>
    {% for file in files %}
        <li>{{file[0]}} - {{file[1]}}</li>
        <li>
            <form action="/scsi/attach" method="post">
                <input type="hidden" name="file_name" value="{{file[0]}}">
                <select name="scsi_id">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <input type="submit" value="Attach" />
            </form>
        </li>
    {% endfor %}
</ul>

    <h2>Download to CD</h2>
    <table style="border: none">
            <tr style="border: none">
                <td style="border: none; vertical-align:top;">
                <form action="/files/download" method="post">
                    <select name="scsi_id">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                    <input type="text" name="url" />
                    <input type="submit" value="Download and Mount ISO" />
                </form>
            </td>
        </tr>
    </table>

    <h2>Upload File</h2>
    <table style="border: none">
            <tr style="border: none">
                <td style="border: none; vertical-align:top;">
                <form action="/files/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file"/>
                    <input type="submit" value="Upload" />
                </form>
            </td>
        </tr>
    </table>

    <h2>Raspberry Pi Operations</h2>
    <table style="border: none">
            <tr style="border: none">
                <td style="border: none; vertical-align:top;">
                <form action="/pi/reboot" method="post">
                    <input type="submit" value="Reboot Raspberry Pi" />
                </form>
            </td>
            <td style="border: none; vertical-align:top;">
                <form action="/pi/shutdown" method="post">
                    <input type="submit" value="Shut Down Raspberry Pi" />
                </form>
            </td>
        </tr>
    </table>

{% endblock %}