{% extends "base.html" %}

{% block content %}
{% if active %}
    Service Running
{% else %}
    Service Stopped
{% endif %}
<br/>
Devices:
<ul>
    {% for device in devices %}
        <li>{{device.id}}, {{device.un}}, {{device.type}}, {{device.file}}</li>
        <li>
            <form action="/detach/{{device.id}}">
                <input type="submit" value="Detach" />
            </form>
        </li>
    {% endfor %}
</ul>
<br/>
Files:
<ul>
    {% for file in files %}
        <li>{{file[0]}} - {{file[1]}}</li>
    {% endfor %}
</ul>

{% endblock %}